.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 200px;
  height: 400px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.circle {
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 50%;
  z-index: 2;
}

.red {
  background-color: #B81D13;
}

.yellow {
  background-color: #EFB700;
}

.green {
  background-color: #008450;
}

.grey{
  background-color: #E5E5E5;
}